body {
    font-family: Inter, sans-serif;
    margin: none;
    padding: none;
    max-width: 365px;
    min-width: 365px;
}

.header{
    text-align: center;
}

.header img{
    align-self: center;
    max-width: 182.5px;
    min-width: 182.5px;
    max-height: auto;
    display: inline-block;
}

.SceneHead {
    font-size: 36px;
    color: #003BB3;
}

.logo {
    width: 50px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
}

.container {
    background-color: #fff;
    padding: 20px;
    padding-right: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    width: fill;
}

.form-group-remember-me{
    display: flex;
    align-items: center;
}

label {
    display: flex;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusting input width to accommodate padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensuring padding and border are included in width */
}

.remember-me {
    margin-bottom: 15px;
}

.forgot-password {
    font-size: 12px;
    text-align: right;
}

.checker{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.btn {
    width: calc(100% - 22px); /* Adjusting button width to accommodate padding */
    padding: 10px;
    background-color: #003BB3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Ensuring padding is included in width */
}

.btn:hover {
    background-color: #021452;
    color:#fff
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.or-text{
    padding: 20px;
    text-align: center;
}

.social-login a {
    width: calc(100% - 22px);
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #003BB3;
    border: 1px solid #ccc;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-login a:hover {
    background-color: #021452;
    color:#fff
}

