<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Off</title>
    <link rel = "stylesheet" href="../home/home.css">
</head>
<body>
    <div class="containter">
        <div class="header">
            <img src = "../../../../../public/assets/logo-with-text.png">
        </div>
        <hr>
        <a href = "home.html">
            <div class = "state">
                <img src = "../../../../../public/assets/off.png" href="home.html" id="switch">
            </div>
        </a>
        <div class = "buttons">
            <img src = "../../../../../public/assets/message.png" id="message">
            <img src = "../../../../../public/assets/configure.png" id="configure">
            <img src = "../../../../../public/assets/settings.png" id="settings">
            <img src = "../../../../../public/assets/profile.png" id="profile">
        </div>
    </div>
</body>
</html>